/* wassim */
/*---------------------------------------( General )-------------------------------------------------*/

body {
  margin: 0;
  padding: 0;
  color: white !important;
  background: grey !important;
  font-family: 'Montserrat', sans-serif;
}

nav {
  padding: 20px 0 20px 0;
  margin-bottom: 4%;
  background-color: rgb(0, 19, 19, 0.8);
  clip-path: polygon(0 0, 100% 0%, 100% 58%, 100% 68%, 0 100%, 0 57%);

}

a {
  text-decoration: none !important;
  color: white !important;

}

.icon{
  margin-left: 5px;
}

/*--------------------------------------( admin/user_Profile.php )----------------------------------*/

.btn_logout {
  margin-bottom: 5vh !important;

}

.btn_logout:hover {
  background-color: rgb(165, 0, 0) !important;

}

.btn_home {
  margin-bottom: 5vh !important;
  margin-right: 80px;
}

.btn_allBadge {
  margin-bottom: 5vh !important;
  margin-right: 10px;
}


.btn_addUsers:hover {
  background-color: rgb(13, 160, 0) !important;

}

.titre_h1 {
  margin-top: 4vh;
  color: white !important;
}

.titre_h2 {
  padding: 20px 0 20px 0;
  margin-bottom: 4%;
  background-color: red;

  background: #383838;
  box-shadow: 5px 5px 0px #161616;

}

.info {
  background: #383838;
  box-shadow: 5px 5px 0px #161616;

}

.cadre {
  /*border multicolor*/
  border: 5px solid blue;

  border-image: linear-gradient(90deg, rgb(0, 19, 19) 0%, rgb(0, 19, 19, 0.6) 35%, rgba(222, 219, 219, 1) 100%);
  border-image-slice: 1;

}

.p_profile{
margin-left: left 10px;
font-size: 20px;

}

.tableBadge::-webkit-scrollbar {
  display: none;

}

.barre_vertical {
  height: 55vh;
  margin: 30px 142px 30px 0;
  border-right: 2px solid black;

}

.modal-content{
  background-color: grey;
  filter: brightness(80%);
  margin-top: 8vh;
}

.modal-header{
  background-color: rgb(0, 19, 19, 0.8);
  padding-bottom: 8%;
  clip-path: polygon(0 0, 100% 0%, 100% 58%, 100% 68%, 0 90%, 0 57%);
}

/*------------------------------( Barre de progression => user_Profile.php )-------------------------*/

label {
  padding-right: 10px;
  font-size: 1rem;
}



/*--------------------------------------<<<<<( Animation )>>>>>--------------------------------------*/

.animationSpawn {
  -webkit-animation: animationSpawn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: animationSpawn 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;

}

@-webkit-keyframes animationSpawn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animationSpawn {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


/*--------------------------------------( Responsive )-------------------------------------------*/

@media only screen and (max-width: 1000px) {
  .titre_h1 {
    font-size: 30px;
  }

}

/* wassim */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,200&display=swap');

/*---------------------------------- LOGIN PAGE  ----------------------------------*/

* {
 
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

.loginContainer {
  margin-top: 2vh;
  max-width: 75vw;

}

.loginSection {
  background: rgb(0, 19, 19, 0.8);
  border-radius: 30px;
  box-shadow: 12px 12px 22px rgb(0, 19, 19, 0.8);
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

form {
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

img {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.btn1 {
  border: none;
  outline: none;
  height: 50px;
  width: 100%;
  background-color: rgb(0, 19, 19);
  color: white;
  border-radius: 4px;
  font-weight: bold;
}

.btn1:hover {
  background: white;
  border: 1px solid;
  color: rgb(0, 19, 19);
}



/* ----------------------- ADD A BADGE PAGE ---------------------------------*/

h2.addbadgeh2 {
  color: white;
  padding-left: 40%;
  /* padding-top: 10%; */
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
}

.addabadge {
  width: 80%;
  padding-left: 20%;
}


h3.addbadgeh3 {
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 5%;
  padding-left: 10%;
}

.Titleofthelabels {
  color: white;
}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255);
}

.square {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
}

.circle {
  height: 50px;
  width: 50px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
}

.triangle-up {
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 50px solid rgb(255, 255, 255);
}
/* --------------------------- BADGES.PHP ------------------------------------------- */

h1.mytitle {
  font-family: 'Montserrat', sans-serif !important;
  text-align: center !important;
  padding-left: 40%;
  padding-bottom: 5%;
  padding-top: 5%;
  display: inline-flex;
}

.tableallbadges {
  width: 80%;
  text-align: center;
  padding-left: 20%;
}


